html
    head
        title Forum Title Page
        meta(name='description' content='Home page')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/public/style.css')
    body
           if admin 
                p you are admin
           if user
                h1(class="title").border.center Welcome #{user.username}!
                div(class="navbar")
                   a(href=`profile/${user.username}`) To profile page
                div   
                    a(href="post") add new thread
           else  
                h1(class="title").border.center Welcome!
                div(class="navbar")
                   a(href="login") login 
                   a(href="signup") sign up
           div(class="threads")
              if posts 
                h2 Here are all the threads:
                each val in posts 
                    div(class="thread")
                        a(href=`post/${val.id}`) 
                            h3= val.title
                            p(class="info")= `this post was created by user ${val.user} at ${val.time}`
              
              else         
                 h2 There are no threads...

              